<div class="col-xs-12 col-sm-8 col-sm-offset-2 main" ng-controller="AdminController as vm">
    <div class="custom-row round-border">
        <h1 class="page-header text-center">Track Admin</h1>
        <form>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th>
                        Track ID
                    </th>
                    <th>
                        Track Name
                    </th>
                    <th>
                        Genre
                    </th>
                    <th>
                        Actions
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p>---</p></td>
                        <td><p>---</p></td>
                        <td><p>---</p></td>
                        <td class="text-nowrap">
                            <button class="btn-success fa fa-plus table-icon"
                                    ng-click="vm.addTrack('d')"
                                    data-toggle="modal"
                                    data-target="#createModal"></button>
                        </td>
                    </tr>
                    <tr ng-repeat="track in vm.tracks">
                        <td>
                            <a href=""
                               ng-click="vm.editTrack('d')"
                               data-toggle="modal"
                               data-target="#editModal">{{track.id}}</a>
                        </td>
                        <td><p>{{track.track_name}}</p></td>
                        <td><p>{{track.genre}}</p></td>
                        <td class="text-nowrap">
                            <button ng-click="vm.deleteTrack('d')" class="btn-danger fa fa-trash-o table-icon"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Track</h3>
                </div>
                <div class="modal-body">
                    <label for="trackId">Track ID</label>
                    <input type="text" name="{{track.id}}" class="form-control" id="trackId" ng-model="vm.trackEdit.id" readonly>

                    <label for="name">Name</label>
                    <input type="text" name="{{track.name}}" class="form-control" id="name" ng-model="vm.trackEdit.name">

                    <label for="duration">Duration</label>
                    <input type="text" name="{{track.duration}}" class="form-control" id="duration" ng-model="vm.trackEdit.duration" readonly>

                    <label for="genre">Genre</label>
                    <input type="text" name="{{track.genre}}" class="form-control" id="genre" ng-model="vm.trackEdit.genre">
                </div>
                <div class="modal-footer">
                    <button ng-click="vm.saveEdit()" class="btn btn-success" data-dismiss="modal">Save</button>
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="vm.cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="createModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Create Track</h3>
                </div>
                <div class="modal-body">
                    <label for="newTrackId">Track ID</label>
                    <input type="text" name="{{track.id}}" class="form-control" id="newTrackId" ng-model="vm.trackCreate.id" readonly>

                    <label for="newName">Name</label>
                    <input type="text" name="{{track.name}}" class="form-control" id="newName" ng-model="vm.trackCreate.name">

                    <label for="newGenre">Genre</label>
                    <input type="text" name="{{track.genre}}" class="form-control" id="newGenre" ng-model="vm.trackCreate.genre">

                    <label for="newURL">URL</label>
                    <input type="url" name="{{track.url}}" class="form-control" id="newURL" ng-model="vm.trackCreate.url">
                </div>
                <div class="modal-footer">
                    <button ng-click="vm.saveCreate()" class="btn btn-success" data-dismiss="modal">Save</button>
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="vm.cancelCreate()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>