<div class="col-xs-12 col-sm-10 col-sm-offset-1 main">
    <div class="row">
        <img src="../img/cover_photo.jpg" class="img-responsive center full-width round-border">
        <div class="col-xs-12 custom-row round-border">
            <h1 class="page-header">Welcome to the Song Atlas!</h1>
            <p>SongAtlas is a platform for integrating multiple from different music outlets (Spotify, SoundCloud, Last.fm, etc.) and combining them into a single central location for users to look up and find their favorite songs and the location there are in.</p>
            <p>No need to sign up! Just get started finding the music you love!</p>
        </div>
        <div class="col-xs-12 custom-row round-border">
            <h1 class="page-header">Find Songs!</h1>
            <p>You just search for the song you'd like to hear and we'll do the rest! You're one click away from any songs found on the following platforms:</p>
            <div class="center">
                <div class="col-xs-12 col-sm-4">
                    <img src="../img/SoundCloud-logo.png" class="img-circle logo">
                    <p><strong>SoundCloud</strong> is the world’s leading social sound platform where anyone can create sounds and share them everywhere.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="../img/spotify-logo.png" class="img-circle logo">
                    <p>There are millions of songs on <strong>Spotify</strong>. Play your favorites, discover new tracks, and build the perfect collection.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="../img/lastfm_logo.png" class="img-circle logo">
                    <p><strong>Last.fm</strong> brings together your favourite music services and join up listening, watching and sharing to connect your musical world.</p>
                </div>
            </div>
        </div>
    </div>
</div>