body {
    background: 
    	/*Hack to add color to background image using semi-transparent overlay*/
	    linear-gradient(
	      rgba(26, 56, 100, .4),
	      rgba(26, 56, 100, .4)
	    ),
	    /*Select background image*/
	    url("../img/background/symphony.png");
}

.center {
	text-align: center;
	margin: auto;
}

.custom-row {
	margin-top: 10px;
	padding: 10px;
	background-color: #dddddd;
}

.logo {
	width: 100px;
	height: 100px;
}

.full-width {
	width: 100%;
}

.vertical-list {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.form-icon {
	font-size: 2rem;
}

.no-margin {
	margin: 0;
}

.round-border {
	border: solid black 1px;
	border-radius: 20px;
}

.sort-icon {
	margin-left: .5rem;
	margin-right: .5rem;	
}

.table-icon {
	font-size: 2rem;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}