.center {
	text-align: center;
}

.vertical-list {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.form-icon {
	font-size: 2rem;
}

.no-margin {
	margin: 0;
}

.sort-icon {
	margin-left: .5rem;
	margin-right: .5rem;	
}

.table-icon {
	font-size: 2rem;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}