body {
    background: 
    	/*Hack to add color to background image using semi-transparent overlay*/
	    linear-gradient(
	      rgba(26, 56, 100, .4),
	      rgba(26, 56, 100, .4)
	    ),
	    /*Select background image*/
	    url("../img/background/symphony.png");
}

.center {
	text-align: center;
	margin: auto;
}

.custom-row {
	margin-top: 10px;
	padding: 10px;
	background-color: #dddddd;
}

.logo {
	width: 100px;
	height: 100px;
}

.full-width {
	width: 100%;
}

.vertical-list {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.form-icon {
	font-size: 2rem;
}

.no-margin {
	margin: 0;
}

.no-border {
	border: none;
}

.no-outline {
	outline: none;
}

.round-border {
	border: solid black 1px;
	border-radius: 20px;
}

.search-button {
	background: #2b303b;
}

.search-container {
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

.search-container .icon{
	position: absolute;
	top: 25%;
	margin-left: 10px;
	z-index: 1;
	color: #888888;
}

.search-container input#search{
	width: 100%;
	height: 50px;
	background: #2b303b;
	border: none;
	font-size: 10pt;
	float: left;
	color: #888888;
	padding-left: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
}

.search-logo {
	width:10vw;
}

.sort-icon {
	margin-left: .5rem;
	margin-right: .5rem;	
}

.song-info {
	font-size: 3vw;
}

.table-icon {
	font-size: 2rem;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}