<div class="col-xs-12 main">
    <div class="custom-row round-border">
        <h1 class="page-header text-center">Track Admin</h1>
        <form>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th>
                        Track ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Genre
                    </th>
                    <th>
                        Actions
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p>---</p></td>
                        <td><p>---</p></td>
                        <td><p>---</p></td>
                        <td class="text-nowrap">
                            <button ng-click="vm.addForm()" class="btn-success fa fa-plus table-icon"></button>
                        </td>
                    </tr>
                    <tr>
                        <td><p>ID</p></td>
                        <td><p>Track Name</p></td>
                        <td><p>Track Genre</p></td>
                        <td class="text-nowrap">
                            <button ng-click="vm.addForm()" class="btn-danger fa fa-trash-o table-icon"></button>
                        </td>
                    </tr>
                    <!--<tr ng-repeat="item in vm.searchitems">-->
                        <!--<td><a href="#/items/{{item._id}}/fields">{{item.title}}</a></td>-->
                        <!--<td>-->
                            <!--<button ng-click="vm.deleteItem($index)" class="glyphicon glyphicon-remove table-icon"></button>-->
                            <!--<button ng-click="vm.selectItem($index)" class="glyphicon glyphicon-pencil table-icon"></button>-->
                        <!--</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>