<div class="col-xs-12 col-sm-10 col-sm-offset-1 main">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 search-container">
            <button class="search-button no-border no-outline icon"><i class="fa fa-search"></i></button>
            <input type="search" id="search" placeholder="Search song title..." />
        </div>
        <div class="col-xs-12 custom-row round-border">
            <div class="col-xs-4 col-sm-3">
                <img src="http://placehold.it/100x100" class="img-responsive full-width">
            </div>
            <div class="col-xs-6 col-sm-9 song-info">
                <p><strong>Artist: </strong> Artist name</p>
                <p><strong>Track: </strong> Track title</p>
                <p><strong>Genre: </strong> Track genre</p>
            </div>
            <div class="col-xs-12 center">
                <a href=""><img src="../img/SoundCloud-logo.png" class="img-circle search-logo"></a>
                <a href=""><img src="../img/spotify-logo.png" class="img-circle search-logo"></a>
                <a href=""><img src="../img/lastfm_logo.png" class="img-circle search-logo"></a>
            </div>
        </div>
    </div>
</div>